[user]
	name = khalido
	username = khalido
	email = khalid.omar@gmail.com

[credential]
    # 28800 is 8hr expiry, 86400 is 24hrs
	helper = cache --timeout 28800

[alias]
	a = add
	cm = commit -m
	s = status
	p = push 
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
