[user]
    name = khalido
    email = khalid.omar@gmail.com

[core]
    excludesfile = ~/.gitignore_global
    editor = zed --wait

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[alias]
    a = add
    s = status
    p = push
